<div class="slip">
  <div>
    <h3>Billing slip for</h3>
  </div>

  <div *ngIf="!files.length" class="col-12 rmpm dropzone" appDrag (files)="filesDropped($any($event))">
    <div class="text-wrapper">
      <div class="centered">Drop your file here!</div>
    </div>
  </div>
  <!--droped image preview-->
  <div *ngFor="let file of files">
    <img *ngIf="file" [src]="file.url" width="100px" height="100px">
  </div>

  <button type="button" (click)="upload()">Upload Image</button>
    <button class="subbtn" mat-flat-button>Send</button>
</div>
