
::ng-deep#mat-dialog-1{
width: 50%;
margin-left: 25%;
text-align: -moz-center;
}

::ng-deep#mat-dialog-0{
    width: 50%;
    margin-left: 25%;
    text-align: -moz-center;
    }

.success-img{
    width: 35%;
}

.successful-dialog{
    width: 30%;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
}

