<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <img class="company-logo" src="https://asi-ees.com/pos_article/20171018/images/logo-asi.png">
    <div class="button-list">
      <button mat-button>Dashboard</button>
      <button mat-button>Check Issue</button>
      <button mat-button>File Issue</button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
<app-navbar></app-navbar>

<div class="topbtns">
  <p>Ticket Management</p>
  <button class="topbtn"mat-flat-button >New</button>
  <button class="topbtn" mat-flat-button>Edit</button>
</div>

</mat-sidenav-content>
</mat-sidenav-container>

