<div class="slip">
    <div>
      <h1>Billing slip for</h1>
    </div>
    <div class="fields">
      <section>
        <dl>
          <dt>Name:</dt>
          <dd>Zackery Peterson</dd>
          <div class="description">
            <dt>Description:</dt>
            <dd class="text">Report for Recruit</dd>
          </div>
        </dl>
      </section>
      <mat-card-content>
        <br><br>
        <mat-form-field style="width: 100%;">
          <mat-label>Browse Files</mat-label>
          <button mat-icon-button matPrefix (click)="f_input.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
          <input type="text" readonly matInput [formControl]="display" />
          <input
            type="file"
            multiple
            hidden
            #f_input
            (change)="handleFileInputChange(f_input.files!)"
          />
        </mat-form-field>
        <br><br>
      </mat-card-content>
    
        <mat-divider></mat-divider>
    
        <mat-card-actions>
          <button mat-stroked-button color="primary" [disabled]="display.invalid" (click)="sendDialog()">
          Submit
        </button>
        </mat-card-actions>
    </div>
  </div>
