<div class="slip">
    <div>
      <h1>Billing slip for</h1>
    </div>
    <div class="fields">
      <section>
        <dl>
          <dt>Assignee:</dt>
          <dd>Maria Uy</dd>
          <div class="description">
            <dt>Description:</dt>
            <dd class="text">Report for Recruit</dd>
          </div>
        </dl>
      </section>
      <mat-form-field appearance="fill">
        <mat-label>File</mat-label>
        <input matInput placeholder="Attach File Here" />
        <mat-icon matSuffix>payment</mat-icon>
      </mat-form-field>
      <button class="subbtn" mat-flat-button>Send</button>
    </div>
  </div>
  