.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}

.filler, .gap {
  font-size: medium;
}
mat-toolbar{
  background-color: rgb(173, 6, 6);
  color: white;
}

img{
  width: 25%;
  margin: 8%;
}

mat-form-field{
  width: 600px;
}
