.filler {
  flex: 1 1 auto;
}

.gap {
  margin-right: 10px;
}

.gap.logout {
  cursor: pointer;
}

.gap.home{
  margin-bottom: 10px;
}

.filler, .gap {
  font-size: medium;
}
mat-toolbar{
  background:#ca3131;
  color: white;
}

img{
  width: 25%;
  margin: 8%;
}

mat-form-field{
  width: 600px;
}
