<div class="slip">
  <div class="left">
    <div>
      <h1>View transaction</h1>
      <div class="fields">
        <section>
          <dl>
            <dt>Issue ID:</dt>
            <dd>{{ data.id }}</dd>
            <dt>Date Issued:</dt>
            <dd>{{ data.datefile }}</dd>
            <dt>Subject:</dt>
            <dd>{{ data.subject }}</dd>
          </dl>
        </section>
        <button class="subbtn" mat-flat-button (click)="sendDialog()">
          Close Transaction
        </button>
      </div>
    </div>
  </div>

  <div class="img">
    <h3>Attached File</h3>
    <a
      mat-icon-button
      href="{{ data.fileURI }}"
      download="{{ data.fileURI }}"
      title="download {{ data.fileURI }}"
    >
      <mat-icon inline>get_app</mat-icon>
    </a>
  </div>
</div>
