<div class="slip">
  <div>
    <h1>Issue Confirm Slip</h1>
  </div>
  <div class="fields">
    <section>
      <dl>
        <dt>Issue ID:</dt>
        <dd>{{ data.id }}</dd>
        <dt>Date Issued:</dt>
        <dd>{{ data.datefile }}</dd>
        <dt>Subject:</dt>
        <dd>{{ data.subject }}</dd>
      </dl>
    </section>
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput placeholder="Amount" />
      <mat-icon matSuffix>payment</mat-icon>
    </mat-form-field>
    <button class="subbtn" mat-flat-button (click)="sendDialog()">Send</button>
  </div>
</div>
