<div>
  <h1>Create ticket</h1>
</div>
<div class="fields">
  <mat-form-field appearance="fill">
    <mat-label>Assignee</mat-label>
    <input matInput placeholder="Name" />
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Subject</mat-label>
    <input matInput placeholder="Your report" />
    <mat-icon matSuffix>live_help</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <button class="subbtn" mat-flat-button>Submit</button>
</div>
