<app-navbar></app-navbar>
<mat-tab-group>
  <mat-tab label="Customer Issues">
    <table mat-table [dataSource]="dataSource" class="mat-elevation">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Ticket ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="assignee">
        <th mat-header-cell *matHeaderCellDef>Assignee</th>
        <td mat-cell *matCellDef="let element">{{ element.assignee }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef>Subject</th>
        <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="tracker">
        <th mat-header-cell *matHeaderCellDef>Tracker</th>
        <td mat-cell *matCellDef="let element">{{ element.tracker }}</td>
      </ng-container>

      <ng-container matColumnDef="btn">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            class="sidebtn edit"
            mat-flat-button
            color="primary"
            (click)="onCreateConformSlip()"
          >
            <mat-icon>note_add</mat-icon>
          </button>
          <button
            (click)="removeRow(element.id)"
            class="sidebtn delete"
            mat-flat-button
            color="primary"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="extractData(row)"
        [class.row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-tab>

  //Transactions tab

  <mat-tab label="Transactions">
    <table mat-table [dataSource]="dataSource" class="mat-elevation">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Ticket ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="assignee">
        <th mat-header-cell *matHeaderCellDef>Assignee</th>
        <td mat-cell *matCellDef="let element">{{ element.assignee }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef>Subject</th>
        <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="tracker">
        <th mat-header-cell *matHeaderCellDef>Tracker</th>
        <td mat-cell *matCellDef="let element">{{ element.tracker }}</td>
      </ng-container>

      <ng-container matColumnDef="btn">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            class="sidebtn edit"
            mat-flat-button
            color="primary"
            (click)="onCreateConformSlip()"
          >
            <mat-icon>note_add</mat-icon>
          </button>
          <button
            (click)="removeRow(element.id)"
            class="sidebtn delete"
            mat-flat-button
            color="primary"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.row-is-clicked]="clickedRows.has(row)"
        (click)="extractData(row)"
      ></tr>
    </table>
    <div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
