<img class="company-logo" src="https://asi-ees.com/pos_article/20171018/images/logo-asi.png">
<div class="profile">
    <img class="profile-logo" src="https://png.pngitem.com/pimgs/s/35-350426_profile-icon-png-default-profile-picture-png-transparent.png" alt="Avatar">
        <div class="profile-headings">
          <a>{{displayName}}</a>
          <a>{{displayRole}}</a>
        </div>
</div>
<div class="nav-btns">
<a class="navbtn profile-btn" mat-flat-button color="primary">Profile</a>
<a class="navbtn signout-btn" mat-flat-button color="primary" routerLinkActive="active" routerLink="/">Sign Out</a>
</div>


