.company-logo{
    width: 55%;
    margin: 8% 8% 8% 20%;
}

.profile{
    display: inline-table;
    margin: 10% 25% 0% 25%;
    margin-bottom: 10%;
    color: white;
  }

.profile-headings{
    display: grid;
    margin: 10% 0% 0% 11%;
    width: 100%;
    text-align: center;
}

.profile-logo{
    width: 85px;
    border-radius: 50%;
    margin-left: 25%
}

.profile-btn, .signout-btn{
    margin: 5px 0px;
    background-color: rgb(209, 209, 209);
    color: rgb(53, 49, 49);
}

.nav-btns{
    width: 5%;
    margin: 0% 0% 0% 35%;
    text-align:center;
    display: inline-table;
}
